 @font-face {
  font-family: "TheJamsil5";
  font-style: normal;
  font-weight: 100;
  src: url("assets/quack.image/fonts/TheJamsil1Thin.ttf") format("woff2");
}
@font-face {
  font-family: "TheJamsil5";
  font-style: normal;
  font-weight: 300;
  src: url("assets/quack.image/fonts/TheJamsil2Light.ttf") format("woff2");
}
@font-face {
  font-family: "TheJamsil5";
  font-style: normal;
  font-weight: 400;
  src: url("assets/quack.image/fonts/TheJamsil3Regular.ttf") format("woff2");
}
@font-face {
  font-family: "TheJamsil5";
  font-style: normal;
  font-weight: 500;
  src: url("assets/quack.image/fonts/TheJamsil4Medium.ttf") format("woff2");
}
@font-face {
  font-family: "TheJamsil5";
  font-style: normal;
  font-weight: 700;
  src: url("assets/quack.image/fonts/TheJamsil5Bold.ttf") format("woff2");
}
@font-face {
  font-family: "TheJamsil5";
  font-style: normal;
  font-weight: 800;
  src: url("assets/quack.image/fonts/TheJamsil6ExtraBold.ttf") format("woff2");
}